@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f2f2f2;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1024px) {
  .container {
      width: 100%;           
      max-width: 1200px;      
      padding: 0 10px;
  }
}

@media (max-width: 768px) {
  .container {
      width: 100%;         
      max-width: 600px;     
      padding: 0 5px;       
  }
}

header {
 
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #f2f2f2;
}

.navbar {
  display: flex;
  padding: 0 10px;
  max-width: 1200px;
  background: #f2f2f2;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.navbar input#menu-toggler {
  display: none;
}

.navbar #hamburger-btn {
  cursor: pointer;
  display: none;
}

.navbar .all-links {
  display: flex;
  align-items: center;
}

.navbar .all-links li {
  position: relative;
  list-style: none;
}

.navbar .logo a {
  display: flex;
  align-items: center;
  margin-left: 0;
}

header a, footer a {
  margin-left: 40px;
  text-decoration: none;
  color: #010000;
  height: 100%;
  padding: 20px 0;
  display: inline-block;
}

.homepage {
  height: 70vh;
  width: 100%;
  position: relative;
  background: url("image/final\ image.png");
  background-position: center 65%;
  background-size: cover;
  background-attachment: fixed;
}
.homepage::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(209, 205, 205, 0.2);
}

.homepage .content {
  display: flex;
    height: 85%;
    z-index: 3;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
  
}

.homepage .content h1 {
  font-size: 25px;
  font-weight: 700;
  margin-top: 400px;
}

.homepage .content .text {
  margin-bottom: 10px;
  color: #fff;
  font-size: 15px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin-left: 36px;
}

.content a {
  color: #000;
    display: block;
    text-transform: uppercase;
    padding: 10px 30px;
    background: #fff;
    border: 2px solid #fff;
    transition: 0.4s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-decoration: none;
  
}
.content a:hover {
  color: #3a3131;
  background: rgba(255,255,255,0.3);
  color: white;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

ul li {
  position: relative;
}

ul li a {
  text-decoration: none;
  display: block;
  color: #0c0b0b;
}

.dropdown {
  position: absolute;
    z-index: 1;
    top: 75%;
    left: 40px;
    right: 0px;
    display: none;
    background-color: #f1f1f1;
 
  min-width: 150px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown li {
  width: 100%;
}

.dropdown li a {
  padding: 10px;
  color: #333;
  white-space: nowrap;
}

ul li:hover .dropdown {
  display: block;
}

section {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  padding: 0px 0 0;
}

.slider {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 24px;
  padding: 24px 36px;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  .slider {
    grid-template-columns: repeat(3, 1fr);
  }
  
}

.slider-wrapper {
  position: relative;
  display: flex;
  column-gap: 12px;
  grid-column: 1 / 3;
  height: 80vh;
  max-width: 100%;
  max-height: 80vh;
}

.slider-wrapper .slide {
  position: relative;
  top: 0;
  left: 0;
  display: grid;
  align-items: center;
  width: calc(100% - (2 * 24px + 12px));
  height: calc(100% - (2 * 24px));
  min-width: calc(100% - (2 * 24px));
  padding: 24px;
  border-radius: 8px;
  overflow: hidden;
  z-index: 1;
}

@media (min-width: 768px) {
  .slider-wrapper .slide {
    min-width: calc(50% - (2 * 24px));
  }
}

.slider-transitions .slider-wrapper .slide {
  transition: min-width 0.5s, left 0.5s;
}

.slider-wrapper .slide-last {
  display: none;
  background: linear-gradient(var(--black), var(--primary));
}

@media (min-width: 768px) {
  .slider-wrapper .slide-last {
    display: grid;
  }
}

.slider-wrapper .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.col{
  padding: 80px 0;
}
.slider-wrapper .slide .slider-content {
  position: relative;
  z-index: 2;
  color: var(--font);
}

.slider-wrapper .slide .slider-content h2 {
  font-size: 20px;
  color: var(--font);
}

.slider-transitions .slider-wrapper .slide .slider-content h2 {
  transition: font-size 0.25s;
}

.slider-wrapper .slide .slider-content .paragraph-wrapper .paragraphs {
  display: grid;
  grid-template-rows: 0fr;
  color: var(--paragraph);
  width: 32ch;
  max-width: 32ch;
  margin: 0 0 17px;
  opacity: 0;
}

.slider-transitions .slider-wrapper .slide .slider-content .paragraph-wrapper .paragraphs {
  transition: opacity 0.25s, margin 0.25s, grid-template-rows 0.25s linear;
}

.slider-wrapper .slide .slider-content .paragraph-wrapper .paragraphs p {
  margin-block: 0;
  overflow: hidden;
}

.slider-wrapper .slide .slider-content .primary {
  display: grid;
  width: fit-content;
  padding: 6px 12px;
  color: var(--font);
  background: var(--primary);
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
}

.slider-transitions .slider-wrapper .slide .slider-content .primary {
  transition: box-shadow 0.25s;
}

.slider-wrapper .slide .slider-content .primary:hover {
  box-shadow: 0 0 0 4px rgba(100, 150, 210, 0.5);
}

.slider-wrapper .slide-active {
  width: calc(100% - (2 * 14px));
  min-width: calc(50% - (2 * 24px));
  z-index: 2;
}

.slider-wrapper .slide-active .slider-content h2 {
  font-size: 36px;
  color: #fff;
}

.slider-wrapper .slide-active .slider-content .paragraph-wrapper .paragraphs {
  grid-template-rows: 1fr;
  margin-block-end: 27px;
  opacity: 1;
}

.slider-wrapper .slide figure {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: -1;
}

.slider-wrapper .slide figure img {
  /* width: 100%;
  height: 100%; */
  top: 1337px;
  left: 44px;
  width: 420px;
  height: 685px;
  background: transparent url('img/pexels-max-rahubovskiy-6301185.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.slider-wrapper .slide figure figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #ffffff;
  font-size: 12px;
  padding-inline: 8px;

}

.slider .slider-controls .slide-control-left,
.slider .slider-controls .slide-control-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: grid;
  place-content: center;
  width: 40px;
  height: 40px;
  border-radius: 10%;
  background: hsla(0, 0%, 100%, 1);
  color: grey;
  box-shadow: 0 0 0 2px rgba(100, 150, 210, 0.25), 0 0 12px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.25s;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  
 
}

.slider .slider-controls .slide-control-left:hover,
.slider .slider-controls .slide-control-right:hover {
  box-shadow: 0 0 0 6px rgba(100, 150, 210, 0.25), 0 0 12px rgba(0, 0, 0, 0.25);
}

.slider .slider-controls .slide-control-left {
  left: 6px;
  padding: 20px 40px;
  background-color: gray;
  color: #fff;
  
}

.slider .slider-controls .slide-control-right {
  right: 6px;
  background-color: gray;
  padding: 20px 40px;
  color: #fff;
}

.slider .slider-controls .slide-control-disabled {
  filter: grayscale(1);
  cursor: unset;
}

.slider .slider-controls .slide-control-disabled:hover {
  box-shadow: 0 0 0 2px rgba(100, 150, 210, 0.25);
}


@media screen and (max-width: 768px) {
  .swiper-navBtn {
    display: none;
  }
}

@media screen and (max-width: 860px) {
  .navbar .all-links {
    position: fixed;
    left: -100%;
    display: block;
    width: 100%;
    height: 100vh;
    top: 100px;
    background-color:#f4efef;
    transition: left 0.3s ease;
    z-index: 999;
  }

  .navbar #menu-toggler:checked~.all-links {
    left: 0;
  }

  .navbar .all-links li {
    font-size: 18px;
  }

  .navbar #hamburger-btn {
    display: block;
  }

  section > p {
    text-align: center;
  }

  section .cards .card {
    width: calc(100% / 2 - 15px);
    margin-bottom: 30px;
  }

 

  .homepage .content .text {
    font-size: 17px;
  }

  .content a {
    font-size: 17px;
    padding: 9px 20px;
  }

  .contact .row {
    flex-direction: column;
  }

  .contact .row .col {
    width: 100%;
  }

  .contact .row .col:last-child {
    margin-top: 40px;
  }

  footer a {
    height: 0;
  }
}

@media screen and (max-width: 560px) {
  section .cards .card {
    width: 100%;
    margin-bottom: 30px;
    
  }
 
}


.footer {
  background-color: #282828;
  color: #ffffff;
  padding: 40px 20px;
  text-align: left;
  
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-col {
  flex: 1;
  min-width: 300px;
  margin: 20px;
}

.footer-col h4 {
  margin-bottom: 20px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.links {
  list-style: none;
  padding: 0;
}

.links li {
  margin: 10px 0;
}

.links a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.links a:hover {
  color: #f39c12;
}

form {
  margin-top: 20px;
}

input[type="email"] {
  padding: 10px;
  width: calc(100% - 22px);
  border: none;
  border-radius: 5px;
}

.icons {
  margin-top: 20px;
}

.icon {

  margin-right: 10px;
  color: #ffffff;
  transition: color 0.3s;
}

.icon:hover {
  color: #f39c12;
}


@media (max-width: 768px) {
  .footer-row {
    flex-direction: column;
    align-items: center;
  }

  .footer-col {
    text-align: center;
  }
}

.pragraph-project{
text-align: left;
font: normal normal medium 26px/31px Gilroy ☞;
color: #444444;
opacity: 1;
}

.pragraph-heading{
width: 440px;
height: 51px;
color: var(--unnamed-color-444444);
text-align: left;
font: normal normal 900 30px/51px Gilroy ☞;
letter-spacing: 4px;
color: #444444;
text-transform: uppercase;
}







